.logo
{
    width: 225px;
}
.profile
{
    width: 50px;
    /* border: 0.5px solid black; */
    border-radius: 50%;
}
.navbar
{
    background-color:#FAF9F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}