
.order-list
{
    width: 100%;
    

}
.order-container
{
    display: grid;
     grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr 1fr 1fr;
    align-items: center;
}
.order-container img
{
    width: 50px;
    padding: 5px;
    border-radius: 6px;
}








